POSTGRES_USER=notas_user
POSTGRES_PASSWORD=notas_password
POSTGRES_DB=notas_db
POSTGRES_PORT=5433

DATABASE_URL="postgresql://notas_user:notas_password@localhost:5433/notas_db?schema=public"

PORT=3000

# Generar con: npm run generate:jwt-keys
JWT_KID=
JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=

POWERSYNC_JWT_ISSUER=http://localhost:3000
POWERSYNC_JWT_AUDIENCE=powersync-dev

# Cuenta gratuita en https://dashboard.ngrok.com -> "Your Authtoken"
NGROK_AUTHTOKEN=
